@model Dishes

<div id="container">
    <h1>Add a new dish!</h1>

    <form asp-controller="Home" asp-action="Submit" method="post">
        <div id="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div id="form-group">
            <label asp-for="Chef"></label>
            <input asp-for="Chef" class="form-control">
            <span class="text-danger" asp-validation-for="Chef"></span>
        </div>

        <div id="form-group">
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="text-danger" asp-validation-for="Tastiness"></span>
        </div>

        <div id="form-group">
            <label asp-for="Calories"></label>
            <input asp-for="Calories" class="form-control">
            <span class="text-danger" asp-validation-for="Calories"></span>
        </div>

        <div id="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" cols="30" rows="10"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <input type="submit" class="btn btn-dark mt-3">
    </form>
</div>